<div class="grid-container form-container" style="margin:5% auto 5% auto;">
    <form id="signin-form" action={{#if reauthenticate}} "/user/profile" {{else}}"/auth/signin"{{/if}} method="post"
        class="grid-x grid-margin-y">
        <div class="cell small-12">
            <input type="email" name="email" id="signin-email" class="input-control" placeholder="Email" required />
        </div>

        <div class="cell small-12">
            <input type="password" name="pwd" id="signin-pwd" class="input-control" placeholder="Password" required />
            {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
        </div>

        {{#if reauthenticate}}
        {{else}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}" readonly>
        {{/if}}


        {{!-- <div class="cell small-12">
            <div class="grid-x" style="margin-bottom: 100px;">
                <div class="cell medium-6 small-12">
                    <div class="grid-y">
                        <div class="cell">
                            <p class="lead">Enter the number in the picture</p>
                        </div>

                        <div class="cell">
                            <img src="{{imgsrc}}" alt="{{captchaFieldName}}" style="max-height:100px;" />
                        </div>

                        <div class="cell auto">
                            <input type="number" name="{{captchaFieldName}}" class="lead" placeholder="I'm not a robot"
                                required />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        --}}
        <input id="sig-submit-button" type="submit" class="button" type="button" style="border-radius: 15px;">
    </form>
</div>