<div class="grid-container fluid" style="margin:auto;">
    <div id="callout-parent"></div>

    {{#if hasToken}}
    <input type="hidden" id="join-room-input" value="{{token}}">
    <input type="hidden" id="room-name-input" value="{{roomName}}">
    <input type="hidden" id="chat-type-input" value="{{chatType}}">
    {{/if}}

    <div class="grid-x grid-margin-y align-center">

        {{#if videoChat}}
        <h2 class="cell small-12">
            Video Chat
        </h2>
        <div class="cell small-12">
            <div class="grid-x small-up-12 medium-up-6 align-center">
                <div class="cell" id="local-part"></div>
                <div class="cell" id="remote-parts"></div>
            </div>
        </div>

        <div class="cell small-12" id="controls"></div>
        {{else}}

        <h2 class="cell small-12">
            Voice Chat
        </h2>
        <div class="cell small-12">
            <div class="grid-x small-up-12 medium-up-6 align-center">
                <div class="cell" id="local-part"></div>
                <div class="cell" id="remote-parts"></div>
            </div>
        </div>

        <div class="cell small-12" id="controls"></div>
        {{/if}}
    </div>

</div>
<input type="hidden" id="rmtid-input" value="{{rmtId}}">
<input type="hidden" id="personal-code">